footer {
  width: 100%;
  color: #ffffff;
  padding-top: 30px;
  border-top: 5px solid #ffffff;
  height: 100px;
  font-size: 20px;
  text-align: center;
  font-family: 'BlenderProThin', sans-serif;
  /*font-family: 'Amatic SC', cursive;*/
}

footer p {
  display: inline-block;
}

footer a {
  color: #b70000;
}
