<main>
    <h1>&spades; 1937</h1>
    <p>{{ 'MAIN.B1' | translate }}</p>
    <img src="/assets/img/1.png" />
    <h1>&spades; 1939</h1>
    <p>{{ 'MAIN.B2' | translate }}</p>
    <img src="/assets/img/2.png" />
    <h1>&spades; 1941</h1>
    <p>{{ 'MAIN.B3' | translate }}</p>
    <img src="/assets/img/3.png" />
    <h1>&spades; 1948</h1>
    <p>{{ 'MAIN.B4' | translate }}</p>
    <img src="/assets/img/4.png" />
    <h1>&spades; 1950</h1>
    <p>{{ 'MAIN.B5' | translate }}</p>
    <img src="/assets/img/5.png" />
    <h1>&spades; 1951 - 1954</h1>
    <p>{{ 'MAIN.B6' | translate }}</p>
    <img src="/assets/img/6.png" />
    <h1>&spades; 1955</h1>
    <p>{{ 'MAIN.B7' | translate }}</p>
    <img src="/assets/img/7.png" />
</main>
