<main>
    <h1>&spades; {{ 'HEADERS.5' | translate }}</h1>
    <p>{{ 'LOCALS.B1' | translate }}</p>
    <img src="./assets/img/14.png" />
    <ul>
        <li>{{ 'LOCALS.POINTS.1.SUBPT.0' | translate }}</li>
        <li style="list-style-type: none">
            {{ 'LOCALS.POINTS.1.SUBPT.1' | translate }}
        </li>
        <li>{{ 'LOCALS.POINTS.1.SUBPT.2' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.1.SUBPT.3' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.1.SUBPT.4' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.1.SUBPT.5' | translate }}</li>
    </ul>
    <img src="./assets/img/15.png" />
    <ul>
        <li>{{ 'LOCALS.POINTS.2.SUBPT.0' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.2.SUBPT.1' | translate }}</li>
        <li style="list-style-type: none">
            {{ 'LOCALS.POINTS.2.SUBPT.2' | translate }}
        </li>
        <li>{{ 'LOCALS.POINTS.2.SUBPT.3' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.2.SUBPT.4' | translate }}</li>
        <li style="list-style-type: none">
            {{ 'LOCALS.POINTS.2.SUBPT.5' | translate }}
        </li>
        <li>{{ 'LOCALS.POINTS.2.SUBPT.6' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.2.SUBPT.7' | translate }}</li>
    </ul>
    <img src="./assets/img/16.png" />
    <ul>
        <li>{{ 'LOCALS.POINTS.3.SUBPT.0' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.3.SUBPT.1' | translate }}</li>
        <li style="list-style-type: none">
            {{ 'LOCALS.POINTS.3.SUBPT.2' | translate }}
        </li>
        <li>{{ 'LOCALS.POINTS.3.SUBPT.3' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.3.SUBPT.4' | translate }}</li>
        <li>{{ 'LOCALS.POINTS.3.SUBPT.5' | translate }}</li>
    </ul>
</main>
