<main>
  <h1>&spades; {{ 'UPDATS.SECT.1' | translate }}</h1>
  <p>
    {{ 'UPDATS.CONTENT.B1' | translate }}
    <span class="kontakt"
      ><a href="mailto: vovastudiosofficial@gmail.com"
        ><button type="button" class="btn btn-danger">Vova_Support</button></a
      ></span
    >
  </p>

  <h1>&spades; {{ 'UPDATS.SECT.2' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B2' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.3' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B3' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.4' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B4' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.5' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B5' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.6' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B6' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.7' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B7' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.8' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B8' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.9' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B9' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.10' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B10' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.11' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B11' | translate }}</p>

  <h1>&spades; {{ 'UPDATS.SECT.12' | translate }}</h1>
  <p>{{ 'UPDATS.CONTENT.B12' | translate }}</p>
</main>
