#widget {
    height: 170px;
    padding: 0;
}

.element {
    height: 230px;
    padding: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vidFrame {
    width: 350px;
    height: 200px;
    margin: 10px;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}

.vidBtn {
    display: none;
}

.vidBtn a {
    width: auto;
}
.vidBtn button {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1100px) {
    .vidBtn {
        display: inline;
    }

    .wrapper {
        display: none;
    }
}

.vidWrapper {
    text-align: center;
    transition: 0.5s all;
    float: left;
    overflow: hidden;
}

.authWrapper a {
    padding: 5px;
}

.colWrapper {
    display: flex;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col a {
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
