<main>
    <h1>&spades; {{ 'VIDS.SECT.1' | translate }}</h1>
    <div class="vidBtn">
        <a href="https://www.youtube.com/embed/Rbxuu7zpGUM" target="_blank"
            ><button mat-raised-button color="warn">
                {{ 'VIDS.TIT.1' | translate }}
            </button></a
        ><br />
        <a href="https://www.youtube.com/embed/3R4eGjf3N7A" target="_blank"
            ><button mat-raised-button color="warn">
                {{ 'VIDS.TIT.2' | translate }}
            </button></a
        ><br />
        <a href="https://www.youtube.com/embed/uQcdObR8xfU" target="_blank"
            ><button mat-raised-button color="warn">
                {{ 'VIDS.TIT.3' | translate }}
            </button></a
        >
    </div>
    <div class="wrapper">
        <div class="vidWrapper">
            <iframe
                class="vidFrame"
                src="https://www.youtube.com/embed/fSPz1F4P1MU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <div class="vidWrapper">
            <iframe
                class="vidFrame"
                src="https://www.youtube.com/embed/yiXdbiLw06E"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <div class="vidWrapper">
            <iframe
                class="vidFrame"
                src="https://www.youtube.com/embed/JHoQKQPZveE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
    <h1>&spades; {{ 'VIDS.SECT.2' | translate }}</h1>

    <div class="authWrapper">
        <a href="https://www.instagram.com/seniorelli_365/" target="_blank"
            ><button mat-raised-button color="warn">Meszka</button></a
        >
        <a
            href="https://instagram.com/mateusz_scieginski?igshid=YmMyMTA2M2Y"
            target="_blank"
            ><button mat-raised-button color="warn">Mr.Ścigacz</button></a
        >
        <a
            href="https://steamcommunity.com/profiles/76561198278195824"
            target="_blank"
            ><button mat-raised-button color="warn">Ruski</button></a
        >
    </div>

    <h1>&spades; {{ 'VIDS.SECT.3' | translate }}</h1>
    <div class="colWrapper">
        <div class="col">
            <a
                href="https://www.youtube.com/watch?v=LifmgAZmwD8"
                target="_blank"
                ><button mat-raised-button color="warn">
                    {{ 'VIDS.TIT.9' | translate }}
                </button></a
            >
            <a
                href="https://www.youtube.com/watch?v=PxA7bSx0eUM&t"
                target="_blank"
                ><button mat-raised-button color="warn">
                    {{ 'VIDS.TIT.7' | translate }}
                </button></a
            >
            <a
                href="https://www.youtube.com/watch?v=TxgkqzCKUWU"
                target="_blank"
                ><button mat-raised-button color="warn">
                    {{ 'VIDS.TIT.4' | translate }}
                </button></a
            >
            <a
                href="https://www.youtube.com/watch?v=aVx1Cw_pG14"
                target="_blank"
                ><button mat-raised-button color="warn">
                    {{ 'VIDS.TIT.5' | translate }}
                </button></a
            >
            <a href="https://youtu.be/P-pkIx9dlzA" target="_blank"
                ><button mat-raised-button color="warn">
                    {{ 'VIDS.TIT.8' | translate }}
                </button></a
            >
            <a
                href="https://www.youtube.com/watch?v=LkvH9b68QB8"
                target="_blank"
                ><button mat-raised-button color="warn">
                    {{ 'VIDS.TIT.6' | translate }}
                </button></a
            >
        </div>
    </div>
    <br />
    <div id="widget">
        <iframe
            class="element"
            src="https://open.spotify.com/embed/track/0HSVba6oa1QdUkco67C3e3?utm_source=generator"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
        ></iframe>
    </div>
</main>
